
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    z-index: 7;
}

.progress__tracker{
    height: 8px;
    width: 4px;
    border-radius: 0 5.5px 5.5px 0;
    background: linear-gradient(0deg, #E15B11 0%, #EB9845 54%, #EF7D3F 100%);
  }

.banner__img {
  background-image: url('../assets/images/home_ready_to_go_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 292px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.description-text {
    color: #FFFFFF;
    font-family: "HK Grotesk";
    font-size: 28px;
    letter-spacing: 0;
    line-height: 33px;
}


.breadcrums-text{
    font-size: 14px;
    letter-spacing: 0.72px;
    line-height: 16px;
}

.orange__btn {
    height: 39px;
    width: 199px;
    color: #FFFFFF;
    border-radius: 27px;
    background: linear-gradient(0deg, #E15B11 0%, #EB9845 54%, #EF7D3F 100%);
}

.are-you-sure {
    height: 44px;
    width: 337px;
    opacity: 0.8;
    color: #141630;
    font-family: "Work Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}

.toast__container {
    position: fixed;
    z-index: 999;
    top: 2%;
    right: 2%;
}

.modal__container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backdrop {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    max-height: 198px;
    max-width: 523px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }
@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-ExtraLight.ttf);
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-Thin.ttf);
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-Light.ttf);
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-Medium.ttf);
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-SemiBold.ttf);
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-Bold.ttf);
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url(../assets/fonts/WorkSans-ExtraBold.ttf);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s, transform 1s;
  transform: scale(1);
}

.fade-enter-form,
.fade-leave-to {
  opacity: 0;
  transform: scale(1.02);
  transform: translateZ(-30%);
}
.slide-enter-active,
.slide-leave-active {
  transition: opacity 1s, transform 1s;
}

.slide-enter-form,
.slide-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.slideup-enter-active,
.slideup-leave-active {
  transition: opacity 1s, transform 1s;
}

.slideup-enter-form,
.slideup-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);

}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}